.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4rem;
    background-color: #000814;

}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    font-weight: 400;
    font-size: large;
    margin: 4rem 2rem 0rem 2rem;
}

@media screen and (max-width: 720px) {
    .footer {
        font-size:medium;
    }
    .hide-mobile{
        display: none;
    }
}