.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
    background-color: #000814;

}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    line-height: 0%;
    color: black;
    font-weight: 800;

}