@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  background-image: url(../assets/bg-pomo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #bde0fe;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
}

#root {
  height: 100vh;
}

.App {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.pomodoro {
  font-size: 6em;
  

}

.message {
  font-size: 0.5em;
  min-height: 1.3em;
  margin-bottom: 0.5em;
}