@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(../assets/bg-pomo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #bde0fe;
  overflow: hidden;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
}

#root {
  height: 100vh;
}

.timer {
  overflow-y: none;
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;

}

.pomodoro {
  font-size: 6em;
}

.message {
  font-size: 0.4em;
  min-height: 1.2em;
  margin-bottom: 0.5em;
  margin: auto;
}

button{
  font-family: "Roboto Mono", monospace;
  color: black;
  font-weight: 600;
  background-color: #bde0fe;
  padding: 1rem 1rem;
  border: 1px solid #bde0fe;
  border-radius: 8px;
  margin: auto;
  cursor: pointer;
} 

.input-cycle{
  font-family: "Roboto Mono", monospace;
  color: black;
  font-weight: 600;
  background-color: #bde0fe;
  flex-direction: row;
  padding: 1rem 1rem;
  border: 1px solid #bde0fe;
  border-radius: 8px;
  margin: auto;
  cursor: pointer;
}

button:hover{
  background: transparent;
  color: #bde0fe;
  transition: 0.5s;
}

.container{
  display: flex;
  width: 80vw;
  align-items: center;
  justify-content:space-evenly;
}

@media screen and (max-width: 720px) {
  .container{
    flex-direction: column;
  }
  .input-cycle{
    margin-top: 1rem;
  }
}